:root {
  --orange: hsl(25, 97%, 53%);

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 20%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

body {
  font-family: "Overpass", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-size: 0.9375rem;
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: var(--very-dark-blue);
}

.hidden {
  display: none;
}

.card {
  background-color: var(--dark-blue);
  padding: 1rem;
  max-width: 22rem;
  background: linear-gradient(hsl(240, 2%, 16%), hsl(206, 12%, 11%));
  border-radius: 0.8rem;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5rem;
  background-color: var(--dark-blue);
}

.title {
  color: var(--white);
  font-weight: 700;
  padding: 1rem 0;
}

.lead-text {
  color: var(--light-grey);
  padding-bottom: 2rem;
}

.submit-btn {
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  align-items: center;
  padding: 0.75rem;
  border-radius: 5rem;
  width: 100%;
  letter-spacing: 0.15rem;
  font-weight: 700;
  font-size: 0.85rem;
  border: none;
}

.form-fieldset {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  border: none;
}

.rate-lbl-style {
  color: var(--light-grey);
  padding: 1rem;
  background-color: var(--dark-blue);
  border-radius: 50%;
  font-weight: 700;
}

input[type="radio"]:checked + .rate-lbl-style {
  background-color: var(--orange);
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}
